{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills">
                <li>
                    <a href="{% url terms %}">Terms of Service</a>
                </li>
                <li class="active">
                    <a href="{% url privacy %}">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Information Collected</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Information You Provide to Us:</h4>     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>E-mail Communications</h4>     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Cookies</h4>     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Sharing Your Information</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Keeping Information Secure</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Ways to Control Display and Use of Your Information</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Children Under 18 Years of Age</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Changes to this Privacy Policy</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Conditions of Use</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Effective Date of this Privacy Policy</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
