{% extends "base.html" %}

{% block content %}
    <div class="row">
        <div class="span12">
            <ul class="nav nav-pills">
                <li class="active">
                    <a href="{% url terms %}">Terms of Service</a>
                </li>
                <li>
                    <a href="{% url privacy %}">Privacy Policy</a>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="span6 offset3">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Acceptance Of Terms</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Description Of Service</h4>     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Registration</h4>     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>User Conduct</h4>     
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>      
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Content Submitted Or Made Available For Inclusion On The Service</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Fair Usage Policy</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Copyright Complaints</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="span6">
            <h4>Links</h4>       
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
        </div>
        <div class="span6">
            <div class="well">
                <em>Basically,</em>

                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. In ut ligula tellus, id posuere urna. Nam vel ante mauris. Donec congue mattis est, nec tristique neque rhoncus at. Vestibulum placerat sem sit amet lectus commodo hendrerit. Morbi ac ligula id tellus sagittis euismod. In nec lacus nec odio rutrum pretium id in dui. Suspendisse potenti. Vivamus mi velit, euismod vitae ultrices vitae, feugiat vulputate dui. Mauris quis massa lacus, eget sagittis nulla. Pellentesque placerat sollicitudin auctor.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
