{% for field in form %}
    <div class="control-group{% if field.errors %} error{% endif %}">
        {% if field.name == "tos" %}
            <div class="controls checkbox">
                <label for="{{ field.auto_id }}" class="control-label">
                    {{ field }} {{ field.label }}
                </label>
                <span class="help-block">{{ field.help_text }}</span>
                {% if field.errors %}
                    {{ field.errors }} 
                {% endif %}
            </div>
        {% else %}
            <label for="{{ field.auto_id }}" class="control-label">{{ field.label }}</label>
            <div class="controls">
                {{ field }}
                {% if field.errors %}
                    {{ field.errors }} 
                {% endif %}
            </div>
        {% endif %} 
    </div>
{% endfor %}
